doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/styles/desktop/style.css')
  body
    h1= title
    p Welcome to #{title}
    script(type='text/javascript', src='/assets/scripts/bundle.desktop.js')

